[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/haml"]
	path = vendor/plugins/haml
	url = git://github.com/nex3/haml.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/rails/exception_notification.git
[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/rspec_rails"]
	path = vendor/plugins/rspec_rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/ext_mvc_rails"]
	path = vendor/plugins/ext_mvc_rails
	url = git://github.com/edspencer/ext-mvc-rails.git
[submodule "public/javascripts/ext-mvc"]
	path = public/javascripts/ext-mvc
	url = git://github.com/edspencer/ext-mvc.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/make_resourceful"]
	path = vendor/plugins/make_resourceful
	url = git://github.com/adzap/make_resourceful.git
[submodule "vendor/rails_versions/edge"]
	path = vendor/rails_versions/edge
	url = git://github.com/rails/rails.git
[submodule "vendor/rails_versions/v2.1.0"]
	path = vendor/rails_versions/v2.1.0
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/worker_queue"]
	path = vendor/plugins/worker_queue
	url = git://github.com/edspencer/worker_queue.git
[submodule "vendor/plugins/awesome_nested_set"]
	path = vendor/plugins/awesome_nested_set
	url = git://github.com/collectiveidea/awesome_nested_set.git
[submodule "vendor/plugins/acts_as_state_machine"]
	path = vendor/plugins/acts_as_state_machine
	url = git://github.com/omghax/acts_as_state_machine.git
[submodule "vendor/plugins/rspec_validation_expectations"]
	path = vendor/plugins/rspec_validation_expectations
	url = git://github.com/edspencer/rspec_validation_expectations.git
