[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/haml"]
	path = vendor/plugins/haml
	url = git://github.com/nex3/haml.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/rspec-rails"]
	path = vendor/plugins/rspec-rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/rspec-on-rails-matchersgit"]
	path = vendor/plugins/rspec-on-rails-matchersgit
	url = git://github.com/joshknowles/rspec-on-rails-matchers.git
[submodule "public/javascripts/ext_mvc"]
	path = public/javascripts/ext_mvc
	url = git://github.com/edspencer/ext-mvc.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/rails/exception_notification.git
