form.site .name {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

form.site .name label {
  padding-right: 20px;
}

form.site .name input {
  font-size: 20px;
}

form.site fieldset .notice {
  float: right;
  width: 50%;
}

form.generate_site input {
  margin: 20px 0;
  font-size: 3em;
  padding: 10px;
}