%h1 Create a new Site

- form_for(@site, :html => {:class => 'site'}) do |f|
  = render :partial => 'form', :locals => {:f => f}
  .submitRow
    = submit_tag 'Set up my Models &raquo;'#

%br
= link_to 'Back to my sites', sites_path
